*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body {
   font-family:"Raleway";
   background-color:#ffffff;
   color: black;
}
section{
    margin-bottom: 5rem;
}
h1,h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
/* Header */
.header{
    display: flex;
    justify-content: space-between;
}
header img{
    width: 20%;
    border-radius: 5rem;
}
header li, header a{
    list-style: none;
    float: left;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
}
.main-container{
    max-width: 2000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    
}
/*HERO-SECTION*/
.hero-section{
   background-image: url("/images/Company-Hero.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   height: 20rem;
}
.newsletter-section{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width:30%;
 
}
.newsletter-section h1{
    font-size: 1rem;
    text-align: left;
}
/*Components*/
.btn{
    background-color: darkgray;
    color:black;
    padding:1.5rem;
}